@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Open+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&family=Volkhov:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {

    overflow-x: hidden;
    position: relative;
}

.hero {

    position: relative;


}

h1,
h2 {
    font-family: 'Volkhov', serif;

}

h3 {
    font-family: 'Poppins', sans-serif;
}



nav {
    width: 100%;
    display: flex;
    padding: 1em 0;
    justify-content: space-around;
    align-items: center;
}

#mobile-menu {
    background-color: #fff1dacc;
    z-index: 10;
    width: 100%;
    transition: .5s ease-in;
    position: absolute;
    left: -100%;
    display: none;
}

nav ul {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul li,
#mobile-menu ul li {
    list-style: none;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

#mobile-menu ul {
    padding: 0;
}


#mobile-menu-button,
#menu-close-button {
    font-size: 1.5rem;
    padding: .5em;
    display: none !important;
    cursor: pointer;
}

#mobile-menu-button:hover,
#menu-close-button:hover {
    background-color: #2d2d2d;
    border-radius: 50%;
    color: #fff;
}



nav ul li a,
#mobile-menu ul li a {
    text-decoration: none;
    color: #212832;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 1rem;
}

nav ul select,
nav ul select option,
#mobile-menu select,
#mobile-menu ul select option {
    border: none;
    text-decoration: none;
    color: #212832;
    font-weight: 700;
    background-color: transparent;
    text-transform: capitalize;
    font-size: 1rem;
}

nav ul li :hover {
    color: #bb4be8;
}

nav button {
    border: 2px solid #212832;
    border-radius: 5px;
    padding: 1em 1.5em;
    background-color: transparent;
}




.hero .ellipse {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    position: absolute;
    background-color: #D5AEE4;
    backdrop-filter: blur(10px);
    filter: blur(85px);
    left: -329px;
    top: -18px;
    z-index: -1;
    overflow: hidden;

}

.hero .shape {
    position: absolute;
    right: -38px;
    top: -159px;
    z-index: -1;

}

.hero-content {
    margin: 0 auto;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}


.hero-title-section h1 {
    font-size: 5.5rem;
    position: relative;
    z-index: 1;
}

.hero-title-section h1::after {
    content: url("/assests/images/vector.svg");
    position: absolute;
    top: 5px;
    right: 96px;
    z-index: -1;
}


.hero-title-section p {
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 30px;
    color: #5E6282;
    width: 68%;
    margin-bottom: 1.5em;
}

#play-video {
    color: #fff;
    display: inline-block;
    padding: 0.8em;
    border-radius: 50%;
    margin-left: 4em;
    font-size: 1.2em;
    box-shadow: 0px 15px 30px rgba(223, 105, 81, 0.3);
    background-color: #DF6951;
    cursor: pointer !important;
}

#modal {
    width: 100%;
    height: 50vh;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.335);
    transition: 1s ease-in;
}

#modal iframe {
    width: 50%;
    height: 720px;
    display: block;
    position: relative;

}


#close-modal {
    font-weight: 400;
    position: absolute;
    z-index: 9;
    top: 10%;
    right: 23%;
    font-size: 24px;
    background-color: #fff;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;

}

.hero-title-section button {
    display: inline-block;
    font-family: 'Google Sans';
    border: none;
    background-color: #F1A501;
    box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
    border-radius: 10px;
    padding: 1.2em 2em;
}

.hero-title-section button a {
    color: #fff;
    font-size: 1.2rem;
    text-decoration: none;
}


.hero-title-section h3 {
    color: #DF6951;
    font-size: 1.5rem;
}

.hero-content .banner-image {
    width: 100%;
    position: relative;
    z-index: 1;
}

.hero-content .banner-image::after {
    content: url("/assests/images/plane.png");
    position: absolute;
    top: -8px;
    left: 134px;
}

.hero-content .banner-image::before {
    content: url("/assests/images/plane.png");
    position: absolute;
    top: 22px;
    right: 44px;
    z-index: -1;
}